<div class="carrossel-container revela">
    <div class="carrossel">
        <img src="/static/assets/img/img-bas.png" alt="Brastemp">
        <img src="/static/assets/img/img-con.png" alt="Consul">
        <img src="/static/assets/img/img-phi.png" alt="Philco">
        <img src="/static/assets/img/img-lg.png" alt="LG">
        <img src="/static/assets/img/img-ele.png" alt="Eletrolux">
        <img src="/static/assets/img/img-pan.png" alt="Panasonic">
        <img src="/static/assets/img/img-san.png" alt="Samsung">
        <img src="/static/assets/img/img-bas.png" alt="Brastemp">
        <img src="/static/assets/img/img-con.png" alt="Consul">
        <img src="/static/assets/img/img-phi.png" alt="Philco">
        <img src="/static/assets/img/img-lg.png" alt="LG">
        <img src="/static/assets/img/img-ele.png" alt="Eletrolux">
        <img src="/static/assets/img/img-pan.png" alt="Panasonic">
        <img src="/static/assets/img/img-san.png" alt="Samsung">
    </div>
</div>
<div class="footer">
    <span>© Casa do Microondas em Curitiba - Conserto de Microondas Curitiba</span>
</div>