<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/indexstyle.css">
    <title>Casa do Microondas</title>
</head>
<header>
</header>
<body>
    <div class="header">
        <img class="logo" href="/static/assets/icone-logo.png" alt="Logo">
        <div class="paginas">
            <a class="home" href="/templates/index.html">Home</a>
            <a class="servicos" href="#">Serviços</a>
            <a class="contato" href="#">Contato</a>
        </div>
    </div>
    
</body>
</html>