<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/indexstyle.css">
    <title>Casa do Microondas</title>
</head>
<body>
<header>
    <div class="header">
        <img class="logo" src="/static/assets/icone-logo.png" alt="Logo">
        <nav class="paginas">
            <a class="home" href="/templates/home.html">Home</a>
            <a class="servicos" href="/templates/servicos.html">Serviços</a>
            <a class="contato" href="/templates/contato.html">Contato</a>
        </nav>
    </div>
</header>
</body>
</html>